{% extends "layout.html" %}
{% block header %}
<title>About</title>
{% endblock header %}
{% block body %}

 <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="../static/assets/alxpage.png" alt="">
                </div>
                <div class="col-lg-7">
                    <p class="section-title pr-5"><span class="pr-2">About Us</span></p>
                    <h1 class="mb-4">Alx Community Blog </h1>
                    <p>Alx Community Blog is a team project created in line with the ALX software engineering program curriculum. 
                      This project is being designed and built by a three member team of students at the alx software engineering program. 
                      The project is aimed at providing the Alx community an alternative communication channel alongside the existing information platform known as slack. 
                      The blog will provide alx students information concerning current events happening in the software engineering program, learn new concepts and ideas while discussing ongoing projects And ultimately creating a platform for interaction, connectivity and communal collaborations amongst the Alx family as a whole.</p>
                    <div class="row pt-2 pb-4">
                        <div class="col-6 col-md-4">
                            <img class="img-fluid rounded" src="img/about-2.jpg" alt="">
                        </div>
                        <div class="col-6 col-md-8">
                            <ul class="list-inline m-0">
                                <li class="py-2 border-top border-bottom"><i class="fa fa-check text-primary mr-3"></i>Share Code</li>
                                <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Solve Problem</li>
                                <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Contact Mentor</li>
                            </ul>
                        </div>
                    </div>
                    <a href="https://www.alxafrica.com/" class="btn btn-primary mt-2 py-2 px-4">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Facilities Start -->
    <div class="container-fluid pt-5">
        <div class="container pb-3">
        <h2>Meet The Authors</h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <i class="bi bi-user"></i>
                        <div class="pl-4">
                            <h4>Name: Ologunde Elisha (Eminent)</h4>
                            <p class="m-0">Nationality: Nigerian </p>
                            <p class="m-0">Email: ologelisha@gmail.com </p>
                            <p class="m-0">Github:https://github.com/Eminent6919 </p>
                            <p class="m-0">Speciality:<Br/>
                              • Project Manager <Br/>
                              • Backend Developer <Br/>
                              • Product Manager (Assistant)<Br/>
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <i class="bi bi-user"></i>
                        <div class="pl-4">
                            <h4>Name: Olatunbosun Oluwatosin</h4>
                            <p class="m-0">Nationality: Nigerian </p>
                            <p class="m-0">Email: tosinolatunbosun02@gmail.com </p>
                            <p class="m-0">Github: https://github.com/adeneye02</p>
                            <p class="m-0">
                            Speciality: <Br>
                            • Frontend Developer<Br>
                            • Content Writer<Br>
                            • Backend Developer (Assistant) <Br>
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <i class="bi bi-user"></i>
                        <div class="pl-4">
                            <h4> Name: Hounliho Jaurex Samson </h4>
                            <p class="m-0"> Nationality: Nigerian</p>
                            <p class="m-0"> Email: ajstylejoshua2837@gmail.com </p>
                            <p class="m-0">Github: https://github.com/rexatrom </p>
                            <p class="m-0">
                             Speciality:   <Br>
                              • UI/UX Design   <Br>
                              • Frontend Developer (Assistant)   <Br>
                              • Product Manager   <Br>
                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facilities Start -->

{% endblock body %}